@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GÖZDE CANKİ</title>
    <link rel="stylesheet" href="\Content\style.css">
    <script type="text/javascript" src="//use.typekit.net/lyj3wzr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <body>
        <div class="page">

            <div class="section row alignleft">
                <img src="\Image\profilephoto.jpg" height="150" width="100>
            </div>

            <div class="section row">
                
                <h1 class="col-center"><span style="font-weight:700">Gözde</span> Cankı</h1>
                <div class="contact-info col-right">
                    <div><a href="mailto:gozde_can.92@hotmail.com">gozde_can.92@hotmail.com</a></div>
                    <div><a href="mailto:gzdee92@gmail.com">gzdee92@gmail.com</a></div>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Interests</h2>
                <div class="section-text col-right"><span class="key">Intelligent Systems</span> <span class="key">Machine Learning</span> <span class="key">Data visualization</span> <span class="key">Computer vision &amp; graphics</span> <span class="key">Information networks</span> <span class="key">User experience / interaction design</span> </div>
            </div>
            <div class="section row">
                <h2 class="col">Skills</h2>
                <div class="section-text col-right row">
                    <ul class="skills" style="width:25%">
                        <li>C++</li>
                        <li>Asp.NET</li>
                        <li>ORACLE 11g</li>
                        <li>Multisim</li>
                       
                    </ul>
                    <ul class="skills" style="width:35%">
                        <li>Matlab</li>
                        <li>5Spice</li>
                        <li>Accsess</li>
                        <li>Cisko Packet Tracer </li>
                    </ul>
                    <ul class="skills">
                        <li>MySQL</li>
                        <li>C#</li>
                        <li>Java</li>
                       
                    </ul>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Education</h2>
                <div class="section-text col-right">
                    <h3><span class="emph">Master of Science</span> in Computer Engineering</h3>
                    <div>Yıldırım Beyazıt University, Engineering and Nature Science Faculty</div>
                    <div class="row">
                        <div class="col light">Ankara,Turkey</div>
                        <div class="col-right light">September 2011 - July 2016</div>
                    </div>
                </div>
                <div class="section-text col-right">
                    <h3><span class="emph">Ege High School</span></h3>
                    <div class="row">
                        <div class="col light">Ankara,Turkey</div>
                        <div class="col-right light	">September 2006 - July 2010</div>
                    </div>
                </div>
            </div>

            <div class="section row">
                <h2 class="col">Courses</h2>
                <div class="section-text col-right row">
                    <ul class="skills" style="width:25%">
                        <li>C#  course - 2013</li>
                        <li>Asp.NET course - 2013</li>
                        <li>Access I (2007) - 2013</li>
                     </ul>
                   </div>
              
        </div>
    </body>
</html>